<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>TypeFlow | Create Account</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/auth.css') }}">

</head>

<body>

    <div class="background">

        <div class="card">

            <div class="logo">
                ⚡
            </div>

            <h1>TypeFlow</h1>

            <p class="subtitle">
                Start improving your typing today.
            </p>

            <h2>Create Account</h2>

            <form action="/register" method="POST">

                <div class="input-group">

                    <label>Email</label>

                    <input
                        type="email"
                        name="email"
                        placeholder="Enter your email"
                        required
                    >

                </div>


                <div class="input-group">

                    <label>Password</label>

                    <input
                        type="password"
                        name="password"
                        placeholder="Create a password"
                        required
                    >

                </div>


                <div class="input-group">

                    <label>Confirm Password</label>

                    <input
                        type="password"
                        name="confirm_password"
                        placeholder="Enter password again"
                        required
                    >

                </div>


                <button type="submit">
                    Create Account
                </button>

            </form>


            <p class="register-text">

                Already have an account?

                <a href="/">
                    Login
                </a>

            </p>

        </div>

    </div>

</body>

</html>